coverage
.editorconfig
.yo-rc.json
.cache/
_tests_/
*.ts
src/*.ts
src/*/*.ts
*d.ts
src/*.d.ts
src/**.d.ts



.travis.yml
.eslint*
.editorconfig
commitlint.config.js
tsconfig.json
tslint.json
*.yml
.prettierrc
